html {
    background: #ca675b;
    font-size: 25px;
    text-align: center;
}

#container {
    color: white;
}

.hidden {
    visibility: hidden;
}

.disabled {
    pointer-events: none;
}

button {
    background: #5b7bca;
    border: 1px solid #a8ca5b;
    border-radius: 5px;
    padding: 10px 15px;
    color: white;
}

button:hover {
    background: #a8ca5b;
    color: black;
    cursor: pointer;
}

#winner {
    font-size: 45px;
    color: black;
}